body {
  padding: 0 30px;
}

header{
  background-color: gray;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

#navigation{
  background-color: #e0e0d1;
  height: 100%
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: black;
}

.size img {
   width: 100%;
   border: 5px solid black;
   border-radius: 5px;
   box-sizing: border-box;
 }

.col-3-p {
  float: left;
  padding: 5px;
  display: block;
  position: relative;
  box-sizing: border-box;
}


.size{
  padding-top: 15px;
}

.col-6-p{
  float: left;
  background-color: green;
  border: 10px solid green;
  border-radius: 3%;
  box-sizing: border-box;

}

.article-title{
  text-align: center;
  padding-top: 10px;
}

.article-item{
  background: white;
  text-align: center;
  border-radius: 5px;
}

.article-text{
  text-align:center;
}

.article-item-blue{
  background-color: cyan;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  padding-bottom: 5px;
}

p{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.text-footer{
  text-align: right;
  background-color: #e0e0d1;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  border-radius: 5px;
}

#main-foot{
  float: right;
  width: 100%;
}

aside.col-3-p span, aside.col-3-p span {
background-color: black;
color: white;
text-align: center;
bottom: 0;
padding: 10px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
font-weight: bold;
position: absolute;
left: 5px;
right: 5px;
bottom:5px;
box-sizing: border-box;
}

.fixed-block {
    position: fixed;
    display: block;
    background: green;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
    color:white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    width: 250px;
    height: 40px;
    top: 0;
    right: 50px;
}

.article-item, .article-item-blue{
  display: block;
  position: relative;
  box-sizing: border-box;
}

.text-x {
  background: red;
  text-align: center;
  padding-top: 7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  top: -12px;
  right:-12px;
  position: absolute;
  box-sizing: border-box;
}

.col-12-p{
box-sizing: border-box;
display: block;
background: white;
position: relative;
float: left;
border-top: 5px solid black;
border-bottom: 5px solid black;
margin-top: 10px;
}

h2{
  text-align: center;
  color: black;
}

.weapon-deadpool{
  display: block;
}

.weapon-deadpool img{
  width: 100%;
  box-sizing: border-box;
}

.float-left{
  position: relative;
  display: block;
  float: left;
  padding: 3px 3px;
}



/*10 column grid in percetages*/
.col-1-p { width: 8.3%; }
.col-2-p { width: 16.6%; }
.col-3-p { width: 24.9%; }
.col-4-p { width: 33.2%; }
.col-5-p { width: 41.5%; }
.col-6-p { width: 49.8%; }
.col-7-p { width: 58.1%; }
.col-8-p { width: 66.4%; }
.col-9-p { width: 74.7%; }
.col-10p { width: 83%; }
.col-11p { width: 91.3%; }
.col-12-p { width: 99.6%; }

#tshirt {
  display: none;
}

@media screen and (max-width: 1024px)  {
  .weapon-deadpool .col-3-p {
    width: 33%;
  }
}
@media screen and (max-width: 640px)  {
  .size .col-3-p, .size .col-6-p {
    width:100%;
  }
  .weapon-deadpool .col-3-p {
    width: 50%;
  }
  .navigation-link {
    width: 20%;
    display:inline-block;
  }

}
@media screen and (max-width: 320px)  {
  .size .col-3-p, .size .col-6-p {
    width:100%;
  }
  .weapon-deadpool .col-3-p {
    width: 100%;
  }

  #tshirt {
    display:block;
    width: 60px;
    height: 60px;
    padding: 10px;
  }
  .fixed-block {
    padding: 0;
    height: auto;
    width: auto;
  }
  .fixed-block span {
    display: none;
  }

  .navigation-link {
    width: 25%;
    display:inline-block;
  }
